nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 20vh;
  height: 20vh;
  font-family: "overpass", sans-serif;
}
nav > div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 500ms;
  color: #ffedce;
}
nav > div > p {
  font-size: 3vh;
  font-weight: 500;
  text-align: right;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms;
  padding-top: 50%;
}
nav > div > img {
  width: 20vh;
  height: 20vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
nav > div > a > img {
  width: 20vh;
  height: 20vh;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  z-index: 0;
  transition: 500ms;
}
nav > .nav--cap {
  position: absolute;
  z-index: 1;
  background-color: #000;
  color: #ffedce;
}
nav > .nav--cap > h2 {
  pointer-events: none;
  font-family: sans-serif;
  font-size: 15vh;
  font-weight: 500;
  text-align: center;
  padding-top: 10vh;
  line-height: 0;
}
nav > .nav--cap > a {
  position: absolute;
}

nav:hover {
  display: block;
}
nav:hover > .nav--cap {
  transform: rotate(270deg);
}
nav:hover > .nav--sub1 {
  top: 40.6vh;
}
nav:hover > .nav--sub2 {
  left: 20.3vh;
  top: 20.3vh;
}
nav:hover > .nav--sub3 {
  top: 20.3vh;
}

.nav--sub1:hover > a > img {
  opacity: 1;
}
.nav--sub1:hover > p {
  opacity: 0.99;
}

.nav--sub3:hover > a > img {
  opacity: 1;
}
.nav--sub3:hover > p {
  opacity: 0.99;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.disp {
  position: relative;
  width: 25vh;
  height: 25vh;
  font-family: "overpass", sans-serif;
}
.disp > div {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 750ms;
  color: #ffedce;
  left: 0;
  top: 0;
  border: 1px solid;
  z-index: 1;
}
.disp > div > p {
  font-size: 4vh;
  font-weight: 500;
  z-index: 1;
  opacity: 0;
  transition: opacity 750ms;
  line-height: 6.5vh;
  text-align: right;
  pointer-events: none;
}
.disp > div > img {
  width: 25vh;
  height: 25vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.disp > div > a > img {
  width: 25vh;
  height: 25vh;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  z-index: 0;
  transition: 750ms;
}
.disp > .disp--cap {
  z-index: 2;
  background-color: black;
  color: #ffedce;
}
.disp > .disp--cap > h1 {
  font-family: sans-serif;
  font-size: 15vh;
  font-weight: 500;
  text-align: center;
  padding-top: 12.5vh;
  line-height: 0;
  pointer-events: none;
}

.disp:hover {
  display: block;
}
.disp:hover > .disp--cap {
  transform: rotate(270deg);
}
.disp:hover > .disp1 {
  left: 25.5vh;
}
.disp:hover > .disp2 {
  left: 25.5vh;
  top: 25.5vh;
}
.disp:hover > .disp3 {
  top: 25.5vh;
}
.disp:hover > .disp4 {
  top: 25.5vh;
  left: -25.5vh;
}
.disp:hover > .disp5 {
  left: -25.5vh;
}
.disp:hover > .disp6 {
  left: -25.5vh;
  top: -25.5vh;
}
.disp:hover > .disp7 {
  top: -25.5vh;
}
.disp:hover > .disp8 {
  top: -25.5vh;
  left: 25.5vh;
}

.disp1:hover > a > img {
  opacity: 1;
}
.disp1:hover > p {
  opacity: 0.99;
}

.disp2:hover > a > img {
  opacity: 1;
}
.disp2:hover > p {
  opacity: 0.99;
}

.disp3:hover > a > img {
  opacity: 1;
}
.disp3:hover > p {
  opacity: 0.99;
}

.disp4:hover > a > img {
  opacity: 1;
}
.disp4:hover > p {
  opacity: 0.99;
}

.disp5:hover > a > img {
  opacity: 1;
}
.disp5:hover > p {
  opacity: 0.99;
}

.disp6:hover > a > img {
  opacity: 1;
}
.disp6:hover > p {
  opacity: 0.99;
}

.disp7:hover > a > img {
  opacity: 1;
}
.disp7:hover > p {
  opacity: 0.99;
}

.disp8:hover > a > img {
  opacity: 1;
}
.disp8:hover > p {
  opacity: 0.99;
}

body {
  background-color: #ffedce;
  overflow-x: hidden;
}

.content {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.content > header {
  text-align: center;
}
.content > header > h3 {
  font-size: 10vw;
  font-family: "overpass", sans-serif;
  font-weight: 600;
  padding: 2vh;
  pointer-events: none;
}
.content > .photos3 {
  position: absolute;
  top: 25vh;
  max-width: 70vw;
  left: 15vw;
  text-align: center;
}
.content > .photos3 > img {
  width: 21vw;
  margin: 1vw;
}
.content > .photos3 iframe {
  margin-top: 2vw;
  margin-bottom: 3vw;
}
.content > .photos2 {
  position: absolute;
  top: 25vh;
  width: 70vw;
  left: 15vw;
  text-align: center;
}
.content > .photos2 > img {
  width: 32.5vw;
  margin: 1vw;
}
.content > nav {
  position: fixed;
  top: 0;
  left: 0;
}

#pdf {
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 20vw;
  margin-right: 20vw;
  width: 60vw;
}
