nav {
  display: flex;
  position: relative;
  top: var(0);
  left: var(0);
  width: var(200px);
  height: var(200px);
  border: 2px solid;
}
nav div {
  position: absolute;
  width: 100%;
  height: 100%;
}
nav div p {
  font-size: var(40px);
  font-weight: var(600);
}
